@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css");


/* ROOT PADRÃO DA PÁGINA INTEIRA */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/* FORMATAÇÃO DO MENU E SIDEBAR */

a {
  color: rgb(255, 255, 255);
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 1.9rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  z-index: 500;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Raleway", serif;
  background:linear-gradient(to right, rgb(0, 0, 0), #FF940B);
  height: 8vh;
  z-index: 500;
  text-shadow: 0.01rem 0.2rem 1px rgba(0, 0, 0, 0.404);
  line-height: 5rem;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
  z-index: 500;
  font-size: 1.5rem;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: rgb(235, 228, 228);
  margin: 8px;
  transition: 0.3s;
  z-index: 500;
}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: rgb(0, 0, 0);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
    z-index: 500;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
  z-index: 500;
}

.mobile-menu.active .line2 {
  opacity: 0;
  z-index: 500;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
  z-index: 500;
}



/* FORMATAÇÃO CONVERSOR DE MOEDAS */

body {
  width: 100%;
  height: 100vh;
  background: rgb(0, 0, 0);
  color: #fff;
}

main {
  width: 100%;
  height: 100%;
  padding: 1rem; /* espacamento interno */
  background:linear-gradient(to right, rgb(0, 0, 0), #FF940B);
}

h1 {
  text-align: center;
  font-size: 3.5rem;
  margin-top: 3rem;
  font-family: "Montserrat", serif;
 
}

.instrucoes {
  max-width: 480px;
  margin: 0 auto;
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0 0.625rem 0.625rem;
  background: #fff;
}

.instrucoes p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

#titulo, #dica {
  background: #111;
  color: #ececec;
  padding: 2px;
  width: 75%;
  margin: 0 auto;
}

#titulo {
  margin-bottom: 0.625rem;
}

.centro {
  margin-top: 0.625rem;
  text-align: center;
}

.input {
  font-size: 1.5rem;
  text-align: center;
  padding: 5px;
  margin-bottom: 0.625rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

.radio {
  border: 1px solid #d50000;
  margin-left: 0.75rem;
}